<div class = "marvelContent"> 
    <h2>Name: {{name}}</h2>
    <div class = "mainImage">
        <img src ="{{image}}">
    </div>
    <p>{{desc}}</p>
    <a class="btn-style"href="/">View new profile</a>
    <a class="button"href="/searchMarvel">Search for your marvel character</a>
</div>
